# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#Build folder
/build/

#Cmake-specific files and folders
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
CTestTestfile.cmake

# VSCode
.vscode/

# CLion / IntelliJ IDEA
.idea/

# MacOS
.DS_Store

# Vim swap / temp
*~
*.swp
# ==== Vim swap / temp files ====
*~
*.swp
*.swo
*.swn
*.swm
